* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: verdana;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: gray;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

/* TYPOGRAPHY */
h1 {
    color: #335576;
    font-size: 2rem;
}

h2 {
    color:#335576;
    font-size: 1.5rem;
}

h3 {
    color:#335576;
    font-size: 1.375rem;
}

h4 {
    font-size: 1.125rem;
}


p {
    color:#335576;
    font-size: 0.875rem;
}

.subtitle {
    color: #DB7A4E;
    font-size: 0.5313rem;
}

.big-text {
    font-size:4rem;
}

/* BUTTON */

.std__button {
    border: none;
    font-size: 0.875rem;
    background-color: #DB7A4E;
    color: white;
    padding: 1.7% 6%;
    border-radius: 6.1875rem;
    font-weight: 400;
}

.std__button:hover {
    background-color: #e89b77;
}

/* CARDS */

.card__container {
    display: flex;
    justify-content: center;
    gap: 3.5%;
    flex-wrap: wrap;
}

.card {
    display: flex;
    width: 15.625rem;
    height: 23.75rem;
    overflow: hidden;
    border-radius: 0.3125rem;
    border: 0.0625rem solid rgba(0,0,0,0.2);
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.2);
}

.card:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.1);
}

@media only screen and (max-width: 53.125rem) {
    .card {
        width: 12.5rem;
        height: 20.625rem;
    }
    
    .card:hover {
        transition: all .5s ease-in-out;
        transform: scale(1.1);
    }

    .recommendation__container {
        padding: 2.8125rem 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card__container {
        gap: 0.625rem;
    }

}


/* NAVIGATION BAR */

.navigation__section--container {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 0rem 4.375rem;
    max-height: 3.375rem;
    min-height: 3.375rem;
    align-items: center;
    width: 100%;
}

.logo__container {
    font-size: 1.125rem;
    font-weight: 600;
    color: #335576;
}


.navigation__section--container ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 0.875rem;
    flex-wrap: wrap;
}

.navigation__section--container a {
    margin: 0 0.75rem;
}

.nav__right-menu--container a {
    padding: 0.5rem 0;   
}

.nav__right-menu--container a:hover {
    border-bottom: 0.1875rem solid #DB7A4E;
}


/* THIS NEEDS JS TO HIGHLIGHT ACTIVE PAGE */
.active {
    border-bottom: 0.1875rem solid #DB7A4E;
}


/* FOOTER */

.footer__container {
    background-color: #FEFAF5;
    display: flex;
    justify-content: center;
    gap: 7%;
    flex-wrap: wrap;
    padding: 1.25rem 2.5rem 2.5rem 2.5rem;
}

.icons__container {
    display: flex;
    justify-content: space-between;
    gap: 40%;
    align-items: flex-end;
    padding-top: 1.5625rem;
}

img.icon {
    height: 1.5rem;
}

.footer__dates--container {
    display: flex;
    flex-wrap: wrap;
}

.footer__dates {
    margin-right: 1.875rem;
}

.footer__content {
    display: flex;
}

.footer__content--container h3 {
    padding: 1.4375rem 0rem;
}

.footer__content--container .subtitle {
    padding: 0.625rem 0;
}

@media only screen and (max-width: 53.125rem) {
    .footer__container {
        flex-direction:column;
        align-items: center;
    }

    .footer__content--container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__content {
        flex-direction: column;
        align-items: center;
    }

    .footer__dates {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .icons__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

